.section {
  padding: 1rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-section {
  min-height: 60vh;
  height: 85vh;
  margin-top: 40px;

  @media(max-width: 1024px) {
    min-height: 50vh;
    height: 60vh;
  }

  @media(max-width: 768px) {
    margin-top: 60px;
    height: 70vh;
  }

  @media(max-width: 480px) {
    height: 90vh;
  }
}

.skills-section {
  min-height: auto;
  height: auto;

  @media (max-width: 480px) {
    min-height: auto;
    height: auto;
  }
}

button.floating {
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #00bcd4;
  color: #00bcd4;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s ease;
  z-index: 100;

  &:hover {
    background-color: rgba(0, 188, 212, 0.1);
    transform: scale(1.05);
  }
}

button.floating.show {
  opacity: 1;
}