<section class="projects-container">
  <div class="projects-header">
    <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>
  </div>

  <div class="category-buttons">
    <button
      *ngFor="let cat of categories"
      class="category-btn"
      [class.active]="activeCategory() === cat.key"
      (click)="setCategory(cat.key)">
      {{ cat.label | translate }}
    </button>
  </div>

  <div #projectsGrid
    class="projects-grid"
    [class.featured-grid]="activeCategory() === 'featured'"
    [class.fade-out]="!showGrid()">

    <ng-container *ngIf="activeCategory() === 'featured'">
      <app-featured-card
        *ngFor="let project of activeProjects"
        [project]="project"
        #cardRef>
      </app-featured-card>
    </ng-container>

    <ng-container *ngIf="activeCategory() !== 'featured'">
      <app-project-card
        *ngFor="let project of activeProjects"
        [project]="project"
        [isWebApp]="project.isWebApp"
        #cardRef>
      </app-project-card>
    </ng-container>

  </div>
</section>